html,body {
    height: 100%;
    padding: 0px;
    margin: 0px;
  }
  
.container {
    width: 100%;
    height: 100%;
    background-color: red;
    display:flex;
  }

.left-div{
    background-color:#ececf4;
    width:50%;
    
    
  }

input{
  height: 20px;
}

.right-div{
    padding-top: 100px;
    background-color:whitesmoke;
    width:50%;
    justify-content: center;
    display: flex;

  }
button{
    width: 300px;
    height: 30px;
    justify-content: center;
    outline: 1px solid white;
}

.googleLogin img {
    width: 12px;
    height: 12px;
    margin-top:2px;
    margin-right: 10px;
  }
  
a{
    font-size: small;
}

.login{
    background-color:#7e5ecb;
    outline: none;
}

.leftparagraph{
  font-size: 60px;
  color: #ffffff;
}


.wrapper{
  background-color:red;
  margin-left:500x;
  height: 400px;
}

.blackletter{
  color: black;
}



