#main {
  transition: margin-left .5s;
  padding-top: 58px;
}


.header {
  overflow: hidden;
  position: fixed; 
  top: 0; 
  width: 100%; 
}







































body{
  margin: 0%;
  padding: 0%;
  background-color: #f3f3f3;
}

section{
  display: flex;
}

.section1{
  border: 1px solid gray;
  display: flex;
  
}

.section2{
  height: 200px;
  
}

.section3{
  height: 350px;
  
}

.section4{
  height: 350px;
  
}

.wrapper1ForSection2{
  width: 25%;
  
}

.wrapper2ForSection2{
  width: 25%;
}

.wrapper3ForSection2{
  width: 25%;
}

.wrapper4ForSection2{
  width: 25%;
}

.wrapper1ForSection3{
  width: 70%;
  border-radius: 0.25rem;
  margin:10px;
  background-color: white;
}

.wrapper2ForSection3{
  width: 30%;
  border-radius: 0.25rem;
  margin:10px;
  background-color: white;
}

.wrapper1ForSection4{
  width: 30%;
  border-radius: 0.25rem;
  margin:10px;
  background-color: white;
}

.wrapper2ForSection4{
  width: 70%;
  border-radius: 0.25rem;
  margin:10px;
  background-color: white;
}


.div1ForSection2{
  margin: 10%;
  height:50%;
  margin-bottom: 0%;
  display: flex;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  background-color: white;
}

.div2ForSection2{
  margin: 10%;
  height:20%;
  margin-top: 0%;
  display: flex;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.subdiv1Fordiv1{
  width: 80%;
  padding: 5% 10%;
  padding-bottom: 0%;
}

.subdiv2Fordiv1{
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subdiv1Fordiv2{
  width: 80%;
  display: flex;
  align-items: center;
  
}

.subdiv2Fordiv2{
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.subdiv2Fordiv2 i{
  font-size: large;
}

.subdiv1Fordiv1 label{
  font-size: xx-large;
}

i{
  font-size: xx-large;
}

.subdiv1Fordiv2 p{
  padding-left: 10%;
}


.subdiv1Fordiv2{
  color: white;
}


label#Amount{
  color: #fe9365;
}

label#PageViews{
  color: #0ac282;
}

label#TaskCompleted{
  color: #fe5d70;
}

label#Downloads{
  color: #01a9ac;
}


#div2ForSection2Amount{
  background-image: linear-gradient(to right, #fe9365, #feb798);
}

#div2ForSection2PageViews{
  background-image: linear-gradient(to right, #0ac282, #0df3a3);
}

#div2ForSection2TaskCompleted{
  background-image: linear-gradient(to right, #fe5d70, #fe909d);
}

#div2ForSection2Downloads{
  background-image: linear-gradient(to right, #01a9ac, #01dbdf);
}
 

.div1ForSection3{
  margin: 2.5%;
  height:20%;
  margin-bottom: 0%;
  background-color: white;
}

.div2ForSection3{
  margin: 2.5%;
  height:65%;
  margin-top: 0%;
  display: flex;
  
}

.div2ForSection3 img {
  width: 100%;
  height: 100%;
}



.div1ForSection3Right{
  background-color: blueviolet;
  margin: 3%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  height:50%;
  display: flex;
  margin-bottom: 0%;
}

.div1ForSection3Right img {
  width: 100%;
  height: 100%;
}

.div2ForSection3Right{
  height:10%;
  display: flex;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.div3ForSection3Right{
  height:30%;
  display: flex;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.section1{
  background-color: #fff;
  padding: 10px;
}

.wrapper2ForSection1 ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.wrapper1ForSection1 ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
}

.section1 li{
  margin: 0 15px;
}

.section1 a {
  color: black;
  text-decoration: none;
}

.notification {
  position: relative;
}

.badge {
  background-color: red;
  color: #fff;
  font-size: 12px;
  padding: 3px 6px;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: -5px;
}


.div2ForSection3Right label{
  color: #000;
  padding: 6px;
}

.div3ForSection3Right{
  display: flex;
  padding: 10px 0px;
  
}

.div3ForSection3RightSubdiv1{
  width: 40%;
  border-right: 2px solid black;  
  justify-content: center;
  padding-left:5%;
}

.div3ForSection3RightSubdiv2{
  width: 30%; 
  justify-content: center;
  padding-left:5%;
}

.div1ForSection4{
  height: 40%;
  padding-left: 5%;
  justify-content: center;
}

.div2ForSection4{
  height: 30%;
  padding-left: 5%;
}

.div3ForSection4{
  height: 30%;
  padding-left: 5%;
}


.wrapper2ForSection4{
  
  padding: 1%;
}

progress{
  width: 95%;
}


.div1ForSection4-up{
  height: 20%;
  padding-left: 2%;
  align-items: center;
  display: flex;
}

.div2ForSection4-down{
  height: 70%;
  padding-top: 0%;
}


.subdiv1ForSocial{
  height:15%;
  display: flex;
}

.subdiv2ForSocial{
  height:60%;
  display: flex;
  padding-top: 20px;
}

.subdiv3ForSocial{
  height:15%;
  display: flex;
  
}

.subdiv4ForSocial{
  height:5%;
  display: flex;
  padding-top: 20px;
  
}

.youtube{
  width: 50%;
  padding: 10px;
  color: red;
}

.facebook{
  width: 50%;
  padding: 10px;
  color: blue;
}

.twitter{
  width: 50%;
  padding: 10px;
  color: blue;
}

.google{
  width: 50%;
  padding: 10px;
  color: red;
}

.socialDetail1{
  width: 50%;
  padding-left: 10px;
}

.socialDetail2{
  width: 50%;
  padding-left: 10px;
}

.socialDetail3{
  width: 50%;
  padding-left: 10px;
}

.socialDetail4{
  width: 50%;
  padding-left: 10px;
}

pre{
  color: gray;
}

.bolder{
  color: #000;
}

.graytext{
  color:gray;
}

.section1{
  display:flex
}

.wrapper1ForSection1{
  display: flex;
  width: 50%;
  
 
}

.wrapper2ForSection1{
  width: 50%;
}

.menubar1{
  width: 250px;
}

















#divForAnimation a {
  position: fixed; 
  right: -80px; 
  transition: 0.3s; 
  padding: 15px; 
  padding-top: 15px;
  width: 150px;
  height: 60px; 
  text-decoration: none; 
  font-size: 20px; 
  color: white;
  border-radius:  50px 0 0 50px;

}

#divForAnimation a:hover {
  right: 0; 
  
}


#animation {
  top: 45%;
  background-color: #01a9ac;
  
  
}

#divForAnimation {
  display: flex; 
  
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Apply the animation to the element */
.rotatingIcon i {
  
  animation: rotate360 2s linear infinite; /* Adjust the time (5s) as per your requirement */
}









































































@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


.btn.click span:before{
  content: '\f00d';
}
.sidebar{
  position: fixed;
  width: 250px;
  height: 100%;
  left: -250px;
  background: #1b1b1b;
  transition: left 0.4s ease;
}
.sidebar.show{
  left: 0px;
  top: 58px;
}
.sidebar .text{
  color: white;
  font-size: 18px;
  font-weight: 600;
  line-height: 57px;
  text-align: center;
  background: #1e1e1e;
  letter-spacing: 1px;
}
nav ul{
  background: #1b1b1b;
  height: 100%;
  width: 100%;
  list-style: none;
}
nav ul li{
  line-height: 50px;
  border-top: 1px solid rgba(255,255,255,0.1);
}
nav ul li:last-child{
  border-bottom: 1px solid rgba(255,255,255,0.05);
}
nav ul li a{
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 14px;
  padding-left: 20px;
  font-weight: 500;
  display: block;
  width: 100%;
  border-left: 3px solid transparent;
}

nav ul li a:hover{
  background: #1e1e1e;
  border-left-color: cyan;
  color: cyan;
}

nav ul ul{
  position: static;
  display: none;
}
nav ul .Dashboard-show.show{
  display: block;
}
nav ul .PageLayouts-show.show1{
  display: block;
}

nav ul .Widget-show.show2{
  display: block;
}

nav ul .BasicComponents-show.show3{
  display: block;
}

nav ul .AdvanceComponents-show.show4{
  display: block;
}

nav ul .ExtraComponents-show.show5{
  display: block;
}

nav ul .Icons-show.show6{
  display: block;
}


nav ul ul li{
  line-height: 42px;
  border-top: none;
}
nav ul ul li a{
  font-size: 17px;
  color: #e6e6e6;
  padding-left: 80px;
}
nav ul li.active ul li a{
  color: #e6e6e6;
  background: #1b1b1b;
  border-left-color: transparent;
}
nav ul ul li a:hover{
  color: cyan!important;
  background: #1e1e1e!important;
}
nav ul li a span{
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 22px;
  transition: transform 0.4s;
}
nav ul li a span.rotate{
  transform: translateY(-50%) rotate(-180deg);
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #202020;
  z-index: -1;
  text-align: center;
}
.content .header{
  font-size: 45px;
  font-weight: 600;
}
.content p{
  font-size: 30px;
  font-weight: 500;
}

.navicon{
  font-size: large;
  padding: 10px;
}





















.sidebar ul ul {
  display: none;
}

.sidebar ul li.active ul {
  display: block;
}
















/* css for responsive pagination */

@media only screen and (max-width: 768px) {



  .header {
    position: fixed;
}


  .wrapper1ForSection1,
  .wrapper2ForSection1, 
  .wrapper3ForSection1, 
  .wrapper4ForSection1{
      width: 100%;
      display: flex;
      justify-content: space-between;
  }

  .menubar2, .wrapper2ForSection1 {
      display: none;
  }

  #divForAnimation{
    display: none;
  }

  .text {
      margin-left: 10px;
  }

 

  

  nav ul {
      display: flex;
      flex-direction: column;
      height: auto;
  }

  nav ul li {
      line-height: 40px;
      border: none;
  }

  nav ul li a {
      padding: 5px 20px;
  }

  nav ul li a span {
      display: none;
  }

  .content {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
      color: #202020;
      z-index: 0;
      text-align: center;
  }

  .content .header {
      font-size: 30px;
      font-weight: 600;
  }

  .content p {
      font-size: 20px;
      font-weight: 500;
  }


























#main{
  display: block;
}

.section2{
  display: block;
  width: 100%;
  height: fit-content;
}

.section3{
  display: block;
  width: 100%;
  height: fit-content;
  margin-left: 20px;
}

.section4{
  display: block;
  width: 100%;
  height: fit-content;
  margin-left: 22px;
}



.wrapper1ForSection2{
  width: 100%;
}

.wrapper2ForSection2{
  width: 100%;
}

.wrapper3ForSection2{
  width: 100%;
}

.wrapper4ForSection2{
  width: 100%;
}

.wrapper1ForSection3{
  width: 90%;
  margin-left: 2%;

  
}

.wrapper2ForSection3{
  width: 90%;
  
}


.div3ForSection3RightSubdiv1{
  padding-left: 7.5%;
  padding-right: 7.5%;
  text-align: center;
  width: 50%;
}

.div3ForSection3RightSubdiv2{
  padding-left: 7.5%;
  padding-right: 7.5%;
  text-align: center;
  width: 50%;
}

.section4{
  margin-top: 30px;
}

.wrapper1ForSection4{
  width: 90%;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.wrapper2ForSection4{
  width: 90%;
}

progress{
  width: 90%;
}

.div2ForSection2{
  height:50px;
}


















.subdiv2ForSocial{
  height:60%;
  display: flex;
  padding-bottom: 15px;
  padding-top: 10px;
}



.subdiv4ForSocial{
  height:5%;
  display: flex;
  padding-top: 10px;
  
}























}



























